.main-footer {
  display: flex;
  background-color: $add-service-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.footer {
  display: flex;
  align-items: baseline;
  width: 1600px;
  padding-left: 215px;
}

.footer__address {
  margin-right: 70px;
}
.nav__logo.foot {
  display: block;
  padding-bottom: 20px;
}

.nav__logo-third {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height:1.17;
  color: $background-color;
}

.address {
  margin-right: 70px;
  .address__item {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footer-addres-color;
    transition: color var(--animation);
    &.link:hover,
    &.link:focus {
      color: $background-color;
    }
  }
  .address__list:not(:last-child) {
    margin-bottom: 9px;
  }
  .address__map {
    color: $background-color;
  }
}
.f-socialmedia__tittle {
  display: block;
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  // text-transform: uppercase;
  color: $background-color;
  margin-bottom: 20px;
  justify-content: center;
  margin: auto;
}
.socialmedia__link.foot {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: $background-color;
  transition: background-color $animation, border-radius $animation;

  &:hover,
  &:focus {
    background-color: $logo-first-part-color-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.f-form {
  margin-left: 93px;
  display: flex;
  align-items: flex-end;

  .f-form__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    // text-transform: uppercase;
    color: $background-color;
    margin-bottom: 20px;
  }
  .f-form__label {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
  }
  .f-form__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px $logo-second-part-color-black);
    border-radius: 4px;
    background: transparent;
    padding-top: 8px;
    padding-left: 16px;
    color: $background-color;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      z-index: 5;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .f-form__btn {
    width: 200px;
    height: 50px;
    background-color: $logo-first-part-color-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: $logo-first-part-color-blue;
    cursor: pointer;

    .f-form__svg {
      width: 24px;
      height: 24px;
      fill: $background-color;
      vertical-align: middle;
    }
    .f-form__btn-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      padding: 0;
      letter-spacing: 0.06em;
      color: $background-color;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-right: 12px;
    }
  }
}
.footer-text{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
 color: #E7E9FC;

  
}