.socialmedia__list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-left: 0;
}
.socialmedia__item:not(:last-child) {
  fill: currentColor;
  margin-right: 10px;
}
.socialmedia__link {
  display: flex;
  width: 44px;
  height: 44px;
  color: $social-media-color;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color $animation, color $animation;

  &:hover,
  &:focus {
    background-color: $logo-first-part-color-blue;
    color: $background-color;
  }
}
.socialmedia__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
