.benefuts.container {
  padding-left: 0;
  padding-right: 0;
}
.benefits__svg {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $background-btn-color;
  background-size: 270px 120px;
  padding: 25px 100px;
}

.benefits__items {
  display: flex;

  & li {
    width: 270px;
  }
  & li:not(.last) {
    margin-right: 30px;
  }
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__text {
  flex-wrap: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $navigate-contacts-color;
}
