.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
  margin-left: 0;
}
.clients__item:not(:last-child) {
  fill: currentColor;
  margin-right: 30px;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  color: $social-media-color;
  justify-content: center;
  align-items: center;
  border: 1px solid $social-media-color;
  border-radius: 4px;
  transition: color $animation, border $animation;
  &:hover,
  &:focus {
    color: $logo-first-part-color-blue;
    border: 1px solid $logo-first-part-color-blue;
  }
}

.clients__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
