$background-color: #ffffff;
$main-font-color:  #2E2F42;
$navigate-contacts-color: #8E8F99;

$logo-first-part-color-blue: #4D5AE5;
$logo-second-part-color-black: #2E2F42;
$footer-addres-color: #ffffff99;
$add-service-background-color: #2f303a;
$header-line-color: #ececec;
$background-btn-color: #f5f4fa;
$background-portfolio-list-color: #eeeeee;
$hover-add-service-btn-background: #188ce8;
$social-media-color: #afb1b8;
$padding-vertical-container: 94px;
$size-padding-portfolio: 300px;
$item-portfolio-count: 5;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
